div.st-emotion-cache-ocqkz7 {
    gap: 0rem;
    width: 206px;
}

div.st-emotion-cache-1kyxreq {
    justify-content: space-around;
}

div.st-emotion-cache-dbtxvr {
    position: absolute;
}

div.st-emotion-cache-nahz7x {
    margin-left: 2.3rem;
}
